/*
#container
    #header
        img
        div
            #header_text
            #logo
            #button
    #mid
        #blog_menu
            h3
            h4
            ul
                li
        #content
            #blog_title (h2 & h3)
            p
    #footer
        table
            tr
                td
                a
            tr
                td
                a


FONT FAMILIES:
font-family: 'Dosis', sans-serif;
font-family: 'Monoton', cursive;
*/


/*PAGE CONTAINER and LINK PROPERTIES*/
#container {
    width: 1200px;
    border-radius: 5px;
    padding: 10px;
    background-color: #C7CCCC;
    font-family: 'Dosis', sans-serif;
}

a {font-weight: extra-bold;}

/* unvisited link */
a:link {color: #414242;}

/* visited link */
a:visited {color: #F8FFFF;}

/* mouse over link */
a:hover {color: #000000;}

.code {
    font-family: 'Source Code Pro';
    font-size: 0.8em;
    color: #C2431E;
}

/*HEADER => Includes image, logo and text*/
#header {
    width: 100%;
    height: 400px;
    position: static;
    background-color: gray;
    border-radius: 5px;
    display: inline-block;
}

#header div {
    float: right;
    font-family: 'Monoton', cursive;
    font-size: 1em;
}

#header_text {
    text-align: center;
    margin: 60px 0px 60px 80px;
}
#logo {
    margin: 10px 100px 20px 100px;
    font-size: 10em;
}
button {
  font-weight: bold;
  border-radius: 10px;
  background-color: #83C2C0;
  margin-left: 50px;
}


/*MID => Includes 2 divs: Blog Menu for previous blogs and Content Block*/
#mid {
    width:100%;
    height: 60%;
    padding: 10px 0 10px 0;
}

#blog_menu {
    float: left;
    width: 210px;
    height: 800px;
    margin: 10px 10px 10px 0px;
    background-color: #83C2C0;
    border-radius: 5px;
    padding: 0 10px 0 10px;
}

#blog_menu h3 {font-weight: extra-bold;}
#blog_menu h4 {font-weight: bold;}

#content {
    float:left;
    width: 930px;
    height: 800px;
    margin: 10px 0px 10px 10px;
    background-color: yellow;
    border-radius: 5px;
    background-color: #F8FFFF;
    padding: 0 10px 0 10px;
    overflow: scroll;
}



/*FOOTER => Navigation table*/
#footer {
    position: static;
    bottom: 0;
    clear: both;
    width:100%;
    height: 80px;
    background-color: #1E7F7D;
    border-radius: 10px;
    font-weight: bold;
}

table {width: 100%;}
td {padding: 15px 5px 5px 5px;}