body {
  background-color: #C7CCCC;
}

h1 {
  text-align: center;
}

#table_title {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.2em;
  text-align: center;
}

table #cheat_sheet {
  border: 2px solid black;
  margin: auto;
  background-color: white;
}

#content td, th {
  font-family: arial;
  border: 1px solid black;
  width: 400px;
  padding: 0px 10px;
}

#content th {
  font-size: 1.2em;
}

.subject {
  font-weight: bold;
}

#content .code {
  font-family: monospace;
  color: black;
}
.red {
  color: #980000;
  font-weight: bold;
}

.blue {
  color:blue;
}

.green {
  color: #66CC33;
}